services:
  app:
    build: .
    image: frame-app:latest
    container_name: frame-app
    ports:
      - "3000:3000"
      - "5000:5000"
    volumes:
      - mongodb_data:/data/db
    restart: always

volumes:
  mongodb_data:
